{% extends 'index/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'users/css/account.css' %}">
{% endblock %}

{% block body %}
    {% include '_includes/login_user_header.html' %}
    <div class="row">
        <div class="column left">
            <nav>
                <ul>
                    <ul>
                        <h4>Settings</h4>
                        <li class="settings-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/1144/1144760.png "
                                 width="25" height="25" alt="" title="" class="img-small">
                                <p>Profile</p>
                            </a>
                        </li>
                        <li class="settings-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/2889/2889676.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                                <p>Security</p>
                            </a>
                        </li>
                        <li class="settings-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/2435/2435281.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                                <p>Orders</p>
                            </a>
                        </li>
                        <li class="settings-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/263/263069.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                                <p>API</p>
                            </a>
                        </li>
                        <li class="settings-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/117/117965.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                                <p>Branded Domains</p>
                            </a>
                        </li>
                        <li class="settings-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/9971/9971235.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                                <p>Account Usage</p>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <h4>Billing</h4>
                        <li class="billing-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/1250/1250694.png "
                                 width="25" height="25" alt="" title="" class="img-small">
                                <p>Subscription</p>
                            </a>
                        </li>
                        <li class="billing-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/482/482541.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                                <p>Payment Method</p>
                            </a>
                        </li>
                        <li class="billing-element">
                            <a href="#">
                                <img src="   https://cdn-icons-png.flaticon.com/512/3496/3496155.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                                <p>Invoices</p>
                            </a>
                        </li>
                    </ul>
                    <a href="{% url 'logout' %}" class="btn btn-primary" id="nav-logout-btn">Log Out</a>
                </ul>
            </nav>
        </div>
        <div class="column right">
            <div class="profile-information">
                <h5>Profile Managment</h5>
                <h2 class="update-info">Update Information</h2>
                <form method="post" id="update-avatar" enctype="multipart/form-data"
                      action="{% url 'avatar-form' request.user.url_username %}" class="user-form">
                    {% if user_avatar %}
                        <img src="{{ user_avatar.url }}" class="user-avatar" id="uploaded-user-avatar">
                    {% else %}
                        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg?t=st=1679650947~exp=1679651547~hmac=5c6bdaffbb489191864df335c1d525ad3fa220dddb887ad1497e6419e0517620"
                             class="user-avatar">
                    {% endif %}
                    {% csrf_token %}
                    {{ second_form.as_p }}
                    <button class="btn btn-primary" id="upload-button" type="submit">
                        Upload Photo
                    </button>
                    </form>
                <h4 class="contact-information">Contact Information</h4>
                <form method="post" class="user-form" id="info-form">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->
                    {% for field in form %}
                        <div class="grid-container">
                            <label class="field-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" id="update-profile">Update</button>
                </form>
                <a href="#" class="btn delete-btn">Delete Account</a>
            </div>
        </div>
    </div>
{% endblock %}