{% extends 'index/layout.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'index/css/signup.css' %}">
{% endblock %}

{% block body %}
  {% include '_includes/header.html' %}
  <form class="signIn-form" method="post">
    {% csrf_token %}
    <h1>UrlShort</h1>
    <p>Welcome to URLShort</p>
    <div class="group">
      {{ form|crispy }}
    </div>
    <button type="submit" class="btn btn-primary">
      <img src="https://cdn-icons-png.flaticon.com/512/8944/8944312.png" width="20" height="20" alt="" title="" class="img-small">
      Create an Account
    </button>
    <div class="log-in">
      <h6>Already a user?<a href="#">Log In</a></h6>
    </div>
    <p id="login-via">Or Login via: </p>
    <div class="signup-with-buttons">
      <a href="#" class="register" id="facebook-register"><img src="https://cdn-icons-png.flaticon.com/512/20/20837.png" width="20" height="20" alt="" title="" class="img-small"></a>
      <a href="#" class="register" id="google-register"><img src="https://cdn-icons-png.flaticon.com/512/104/104093.png" width="20" height="20" alt="" title="" class="img-small"></a>
      <a href="#" class="register" id="twitter-register"><img src="https://cdn-icons-png.flaticon.com/512/733/733635.png" width="20" height="20" alt="" title="" class="img-small"></a>
      <a href="#" class="register" id="microsoft-register"><img src="https://cdn-icons-png.flaticon.com/512/732/732068.png" width="20" height="20" alt="" title="" class="img-small"></a>
    </div>
  </form>
{% endblock %}