{% extends 'index/layout.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'users/css/tfa-input.css' %}">
{% endblock %}

{% block body %}
  {% include '_includes/login_user_header.html' %}
  <form method="post" class="tfa-input">
    <h1>URLShort</h1>
    <p>Authy Two-Factor Authentication</p>
    {{ form.as_div }}
    <button type="submit" class="btn btn-info">
      <img src="   https://cdn-icons-png.flaticon.com/512/3580/3580168.png " width="20" height="20" alt="" title="" class="img-small">
      Verify
    </button>
    <a href="#"><p>Verify another way</p></a>
  </form>
{% endblock %}