/* OVERALL STYLES */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding-left: 20px;
    background: white;
    /*background-image: url('../images/main-page5.jpg')*/
}

/* HEADER */
.main-header {
    max-width: 500px;
    padding: 0px;
    margin-left: 940px;
    background: #6C85DC;
    border-radius: 15px;
    display: block-inline;
}

/* LINKS IN HEADER */
.main-header a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
}

/* SITE LOGO */
.site-logo {
    float: left;
    padding-top: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 50px;
    color: white;
}

/* HELP BUTTON */
.help-button {
    float: left;
    background: #6C85DC;
    margin-left: 660px;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Rubik';
}
.high-header {
    height: 100%;
    margin-left: -20px;
    background-image: url('../images/main-page5.jpg');
}

.column {
    float: left;
}

.left {
    width: 20%;
}

.middle {
    width: 41%;
    background: #FCF9F9;
    margin-left: -35px;
}

.right {
    width: 41%;
    margin-left: 0px;
    background: #FCF9F9;
    border-left: 1px solid grey;
}

nav {
    background: #F3F3F3;
    /*max-width: 250px*/
    width: 100%;
    margin-left: -20px;
    height: 808px;
    max-height: calc(105vh - 7rem);
    overflow-y: auto;
}

nav ul {
    margin-left: -20px;
}

nav ul h4 {
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: 400;
    margin-left: -10px;
}

nav ul li {
    list-style-type: none;
    margin-left: -10px;
    padding: 5px;

}

nav ul li img {
    margin-right: 10px;
}

nav ul li p {
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;
    margin-top: -23px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    background: white;
}

.settings-element:hover
{
    cursor: pointer;
    background: #FFFFF;
}

#nav-logout-btn {
    background: #6C85DC;
    width: 200px;
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-size: 18px;
}

h3 {
    font-family: 'Rubik';
    color: grey;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 400;
}

#update-password-title {
    font-family: 'Rubik';
    font-weight: 500;
    margin-left: 20px;
    font-size: 35px;
    /*margin-left: 20px;
    margin-top: 10px;*/
}

#two-factor-title {
    font-family: 'Rubik';
    font-weight: 500;
    margin-left: 20px;
    font-size: 35px;
}

#two-factor-text {
    font-family: 'Rubik';
    margin-left: 20px;
    font-weight: 400;
}

#enable-button {
    background: #6C85DC;
    border: none;
    font-family: 'Rubik';
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    margin-left: 20px;
}

#enable-button:hover {
    background: #5A6CB5;
}

.update-password {
    max-width: 500px;
    height: 330px;
    margin-left: 100px;
    margin-top: 5px;
    font-family: 'Rubik';
}

.update-password input {
    max-width: 300px;
    margin-left: 0px;
    padding: 5px;
    font-family: 'Rubik';
    display: inline-block;
    vertical-align: middle;
}

.update-password label {
    display: inline-block;
    float: left;
    width: 200px;
    text-align: left;
    vertical-align: middle;
    /*margin-left: 50px;*/
    float: left;
    font-weight: 500;
    color: black;
}

#reset-password-form h2 {
    margin-left: 130px;
    font-family: 'Recursive';
    font-size: 50px;
}

#reset-password-form h5 {
    font-weight: 300;
    font-size: 18px;
    margin-left: 180px;
    margin-top: -10px;
}

#update-button {
    margin-top: 10px;
    background: #6C85DC;
    border: none;
    color: black;
    font-family: 'Rubik;'
    font-weight: 300;
    width: 100px;
}

#update-button: hover {
    background: #5A6CB5;

}

.errorlist {
    list-style-type: none;
    color: red;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: -35px;
    font-weight: 500;
}

.messages {
    list-style-type: none;
    color: green;
    margin-left: -35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links {
    margin-left: 20px;
    font-family: 'Rubik';
    font-size: 35px;
    margin-top: -60px;
    font-weight: 500;
}

.social-links a {
    background: #6C85DC;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

.social-links .group {
    float: left;
    width: 7%;
}

.popup {
    font-family: 'Rubik';
    width: 550px;
    height: 540px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    border-radius: 10px 10px;
    /*padding: 0 30px 30px;*/
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup-header {
    width 400px;
    height: 70px;
    background: #ECECEC;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid grey;
}

.popup-header h6 {
    font-weight: 300;
    font-size: 20px;
}

.popup-header p {
    font-weight: 300;
}

.popup-body {
    padding: 5px;
    text-align: left;
}

.popup-body h2 {
    font-weight: 400;
    margin-left: 5px;
}

.popup-body ul {
    list-style-type: none;
    margin-left: 15px;
}

.qrcode {
    margin-top: 2px;
    margin-bottom: 7px;
    margin-left: 0px;
}

.popup-footer {
    border-top: 1px solid #D3D3D3;
    min-height: 100px;
}

.btn-light {
    background: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #B4B4B4;
    margin-top: 8px;
    margin-left: 10px;
}

.buttons {
    margin-left: 300px;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

#qrcode {
    max-width: 200px;
    max-height: 200px;
    margin-left: 120px;
}

.input-code {
    max-width: 300px;

}

.input-code label {
    font-family: 'Rubik';
    font-weight: 500;
    float: left;
    text-align: right;
    width: 100px;
    margin-top: 5px;
}


.input-code input {
    display: inline-block;
    width: 150px;
    font-family: 'Rubik';
    padding: 5px;
    margin-left: 10px;
}

.active-body {
    font-family: "Rubik";
    font-size: 18px;
    max-width: 400px;
    margin-left: 30px;
}

.qrcode-active {
    margin-left: 27px;
    width: 500px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    border: 1px solid #DBDBDB;
}

.button-group{
    margin-left: 200px;
    font-family: 'Rubik';
}

#change-phone {
    margin-bottom: 7px;
    height: 35px;
    width: 230px;
    margin-left: 70px;
}

#disable-auth {
    margin-left: 101px;
    width: 200px;
}

.backup-codes {
    margin-left: 30px;
}

.backup-codes h3 {
    margin-left: -2px;
}

h2 {
    font-family: 'Rubik';
}

.backup-codes p {
    font-family: 'Rubik';
    font-size: 18px;
}

.button-group-second {
    margin-bottom: 40px;
}

.button-group-second a {
    border: none;
    font-family: 'Rubik';
    background: #6C85DC;
    color: white;
    padding: 10px;
}