{% extends 'index/layout.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'index/css/index_page.css' %}">
{% endblock %}


{% block body %}
    <h1 class="site-logo">URLShort</h1>
    <a class="help-button">?</a>
    <header class="d-flex justify-content-center py-3 main-header">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" aria-current="page">My URLs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Plans</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sign In</a></li>
      </ul>
    </header>
    <form class="URLShortenForm" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if not field.label == 'Alias' %}
                {% if field.label == 'Enter a URL to make a ShortURL' %}
                    <img src="https://cdn-icons-png.flaticon.com/512/4008/4008585.png" width="20" height="20" alt="" title="" class="img-small">
                {% else %}
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25301.png" width="20" height="20" alt="" title="" class="img-small">
                {% endif %}
                <label class="customize-label">{{ field.label }}</label>
            {% endif %}
            {% if field.label == 'Alias' or field.label == 'Customize your link' %}
                <div class="one-line">
                    {{ field }}
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-success">Make TinyURL!</button>
    </form>
    <div class="welcome-title">
        <h3>Welcome to </h3><h4>URLShort</h4>
        <h3>Create a free account to enjoy:</h3>
        <div class="point">
            <img src="https://cdn-icons-png.flaticon.com/512/447/447147.png " width="10" height="10" alt="" title="" class="img-small first-img">
            <p>Easy Link Shortening</p>
        </div>
        <br>
        <div class="point">
            <img src="https://cdn-icons-png.flaticon.com/512/447/447147.png " width="10" height="10" alt="" title="" class="img-small second-img">
            <p>Full Link History</p>
        </div>
        <br>
        <div class='point'>
            <img src="https://cdn-icons-png.flaticon.com/512/447/447147.png " width="10" height="10" alt="" title="" class="img-small third-img">
            <p>Customized URLs</p>
        </div>
        <div class="point-button">
            <a href="#" class="btn btn-primary btn-lg">Create a Free account</a>
        </div>
    </div>
{% endblock %}