{% extends 'index/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{%  static 'index/css/main_page.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
{% endblock %}

{% block js_additional %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'index/js/show-hide-select-field.js' %}"></script>
{% endblock %}

{% block body %}
    {% include '_includes/header.html' %}
    <div class="main-content">
        <section class="main-form" id="main-form">
            <form class="input-url-form" method="post" id="input-url-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.label == 'Input a long URL:'%}
                            <img src="   https://cdn-icons-png.flaticon.com/512/4906/4906292.png "
                                 width="20" height="20" alt="" title="" class="img-small">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% if form_errors %}
                                <div class="form-error">
                                    <span class="error-image">
                                        <img src="   https://cdn-icons-png.flaticon.com/512/7068/7068033.png "
                                             width="15" height="15" alt="" title="" class="img-small">
                                    </span>
                                    {{ form_errors }}
                                </div>
                            {% endif %}
                        {% else %}
                            {% if field.label == "Customize your link:" %}
                                <img src="   https://cdn-icons-png.flaticon.com/512/2089/2089189.png "
                                     width="20" height="20" alt="" title="" class="img-small">
                            {% endif %}
                            <div class="domain-alias-fields">
                                {{ field.label }}
                                {{ field }}
                                {% if field.label == "Customize your link:" %}
                                    <i>
                                        <img id="select-arrow" src="   https://cdn-icons-png.flaticon.com/512/2985/2985150.png "
                                            width="20" height="20" alt="" title="" class="img-small">
                                    </i>
                                <div id="select-popup">
                                    <p class="title short">shorten.one</p>
                                    {% if not user.is_authenticated %}
                                        <img id="lock-image" src="   https://cdn-icons-png.flaticon.com/512/2549/2549910.png "
                                             width="16" height="16" alt="" title="" class="img-small">
                                    {% endif %}
                                    <a id="default-choice"><p class="title short less">shortenurl.com</p></a>
                                    <hr>
                                    <a href="#" class="add-domain-button">Add Domain</a>
                                    {% if not user.is_authenticated %}
                                        <img id="lock-image-button" src="   https://cdn-icons-png.flaticon.com/512/2549/2549910.png "
                                        width="20" height="20" alt="" title="" class="img-small">
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="help-tittle">
                    <small>Alias must be at least 5 alphanumerical characters.</small>
                </div>
                <button type="submit" class="btn btn-success" id="short-url-button">Shorten URL</button>
            </form>
        </section>
        <section id="newFormContainer">
        </section>
        <section class="info-title">
            <div class="info-text">
                <h2>The Original URL Shortener</h2>
                <br>
                <p class="subtitle">Create shorter URLs with URLShort</p>
                <br>
                <p>
                    Want more out of your link shortener?
                    Track link analytics, use branded domains
                    for fully-custom link, and manage your
                    links with our paid plans
                </p>
            </div>
            <div class="row-buttons">
                <a href="#" class="btn btn-outline-secondary">View Plans</a>
                <a href="{% url 'signin' %}" class="btn btn-outline-secondary" id="create-btn">Create Free Account</a>
            </div>
            <div class="advantages-list">
                <p>URLShort plans include:</p>
                <ul class="list">
                    <img src="../static/index/images/analysis-icon.png" width="17" height="17">
                    <li>Expert Link Analysis</li>
                    <img src="../static/index/images/earth-icon.png" width="17" height="17">
                    <li>Fully Branded Domains</li>
                    <img src="../static/index/images/urls-icon.png" width="17" height="17">
                    <li>Bulk Short URL</li>
                    <img src="../static/index/images/support-icon.png" width="17" height="17">
                    <li>Expert Support Options</li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}