{% load static %}

{% block js_additional %}
    <script src="{% static 'index/js/buttons-backend.js' %}"></script>
{% endblock %}

<form method="post" class="shortened-url-form" id="shortened-url-form">
    {% csrf_token %}
    {% for field in form %}
        <div class="user-field">
            {% if forloop.first %}
                <div class="label-image">
                    <img src="   https://cdn-icons-png.flaticon.com/512/4906/4906566.png "
                         width="20" height="20" alt="" title="" class="img-small">
                    {{ field.label }}
                </div>
                {{ field }}
        </div>
        {% else %}
            <div class="label-image">
                <img src="   https://cdn-icons-png.flaticon.com/512/2089/2089189.png "
                     width="20" height="20" alt="" title="" class="img-small">
                {{ field.label }}
            </div>
            {{ field }}
        {% endif %}
    {% endfor %}
    <div class="row-buttons">
            <a href="{% url 'redirect_view' %}" type="button" class="btn btn-primary" title="Visit URL" id="visit-url">
                <img src="   https://cdn-icons-png.flaticon.com/512/2990/2990295.png "
                     width="17" height="17" alt="" title="" class="img-small">
            </a>
            <div id="visit-tooltip" class="tooltip">Visit this URL</div>
            <a href="#" type="button" class="btn btn-primary" title="QR Code" id="qr-code" onclick="openQRModal()">
                <img src="   https://cdn-icons-png.flaticon.com/512/714/714390.png "
                     width="17" height="17" alt="" title="" class="img-small">
                <h6>QR Code</h6>
            </a>
            <div class="modal" id="modal">
                <div class="modal-content">
                    <div class="qr-area">
                        <img src="https://cdn-icons-png.flaticon.com/512/714/714390.png"
                             width="120" height="120" alt="" title="">
                    </div>
                    <div class="buttons-area">
                        <a href="{% url 'create_qr_svg' %}" class="btn btn-scs" id="svg-btn">SVG</a>
                        <a href="{% url 'create_qr' %}" class="btn btn-scs" id="png-simple-btn">PNG</a>
                        <a href="{% url 'create_qr_1200' %}" class="btn btn-scs" id="png-1200-btn">PNG 1200</a>
                    </div>
                </div>
            </div>
            <div id="qr-code-tooltip" class="tooltip">QR Code</div>
            <a href="#" type="button" class="btn btn-primary" id="share" onclick="openShareModal()">
                <img src="   https://cdn-icons-png.flaticon.com/512/929/929610.png "
                     width="17" height="17" alt="" title="" class="img-small">
                <h6>Share</h6>
            </a>
            <div class="modal" id="share-modal">
                <div class="modal-content">
                    <div class="row-container">
                        <div class="img-wrapper">
                            <img src="   https://cdn-icons-png.flaticon.com/512/3094/3094429.png "
                                 width="25" height="25" alt="" title="" class="img-small" id="share-img">
                        </div>
                        <p class="title-explain">Share it</p>
                    </div>
                    <div class="row-container">
                        <div class="img-wrapper">
                            <img src="   https://cdn-icons-png.flaticon.com/512/1051/1051309.png "
                                 width="25" height="25" alt="" title="" class="img-small" id="facebook-img">
                        </div>
                        <a class="link"><p class="title-explain facebook">Facebook</p></a>
                    </div>
                    <div class="row-container">
                        <div class="img-wrapper">
                            <img src="   https://cdn-icons-png.flaticon.com/512/25/25347.png "
                            width="25" height="25" alt="" title="" class="img-small" id="twitter-img">
                        </div>
                        <a class="link"><p class="title-explain twitter">Twitter</p></a>
                    </div>
                    <div class="row-container">
                        <div class="img-wrapper">
                            <img src="   https://cdn-icons-png.flaticon.com/512/254/254409.png "
                                 width="25" height="25" alt="" title="" class="img-small" id="whatsapp-img">
                        </div>
                        <a class="link"><p class="title-explain whatsapp">WhatsApp</p></a>
                    </div>
                    <div class="row-container">
                        <div class="img-wrapper">
                            <img src="   https://cdn-icons-png.flaticon.com/512/3536/3536569.png "
                                 width="25" height="25" alt="" title="" class="img-small" id="linkedin-img">
                        </div>
                        <a class="link"><p class="title-explain linkedin">LinkedIn</p></a>
                    </div>
                    <div class="row-container">
                        <div class="img-wrapper">
                                <img src="   https://cdn-icons-png.flaticon.com/512/542/542689.png "
                                     width="25" height="25" alt="" title="" class="img-small">
                        </div>
                        <a class="link"><p class="title-explain email">Email</p></a>
                    </div>
                </div>
            </div>
            <div id="share-tooltip" class="tooltip">Share URL on your social media</div>
            <a href="#" type="button" title="Copy to clipboard" class="btn btn-success" id="copy">
                <img src="   https://cdn-icons-png.flaticon.com/512/1621/1621635.png "
                     width="17" height="17" alt="" title="" class="img-small">
                <h6>Copy</h6>
            </a>
        <div id="copy-tooltip" class="tooltip">Copy to clipboard</div>
    </div>
    <div class="row-buttons-below">
        <a href="#" class="btn btn-light">My URLs</a>
        <a href="#" class="btn btn-success">Shorten Another</a>
    </div>
</form>

<script src="{% static 'index/js/show-hide-select-field.js' %}"></script>