html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding-left: 20px;
    background: white;
    /*background-image: url('../images/main-page5.jpg')*/
}

/* HEADER */
.main-header {
    max-width: 500px;
    padding: 0px;
    margin-left: 940px;
    background: #6C85DC;
    border-radius: 15px;
    display: block-inline;
}

/* LINKS IN HEADER */
.main-header a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
}

/* SITE LOGO */
.site-logo {
    float: left;
    padding-top: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 50px;
    color: white;
}

/* HELP BUTTON */
.help-button {
    float: left;
    background: #6C85DC;
    margin-left: 660px;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Rubik';
}
.high-header {
    height: 100%;
    margin-left: -20px;
    background-image: url('../images/main-page5.jpg');
}

..column {
    float: left;
    flex-grow: 1;
}

.row {
    display: flex;
}

.left {
    width: 20%;
}

.middle {
    width: 41%;
    background: #FCF9F9;
    margin-left: -35px;
}

.right {
    width: 41%;
    margin-left: -90px;
    background: #FCF9F9;
}


nav {
    background: #F3F3F3;
    max-width: 250px
    width: 100%;
    margin-left: -20px;
    height: 808px;
    max-height: calc(105vh - 7rem);
    overflow-y: auto;
}

nav ul {
    margin-left: -20px;
}

nav ul h4 {
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: 400;
    margin-left: -10px;
}

nav ul li {
    list-style-type: none;
    margin-left: -10px;
    padding: 5px;

}

nav ul li img {
    margin-right: 10px;
}

nav ul li p {
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;
    margin-top: -23px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    background: white;
}

.settings-element:hover
{
    cursor: pointer;
    background: #FFFFF;
}

#nav-logout-btn {
    background: #6C85DC;
    width: 200px;
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-size: 18px;
}

/* MAIN CONTENT */
/* TITLES */

.title {
    font-family: 'Rubik';
    margin-left: 50px;
}

.sub-title {
    color: #9F9F9F;
    text-width: 500;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 2px;
}

.main-title {
    font-weight: 400;
}

#create-token-form {
    max-width: 350px;
    font-family: 'Rubik';
    background: #F7F7F7;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px;
    margin-left: 52px;
}

#create-token-form label {
   margin-top: 6px;
}

.form-control {
    width: 300px;
    padding: 5px;
}

#token-name {
    margin-bottom: 7px;
}

.help-text-container {
    display: flex;
}

.help-titles {
    display: inline-flex;
    gap: 105px;
    margin-bottom: -40px;
    margin-top: 5px;
}

#allow-title {
    margin-right: 20px;
}

.select-box {
    background: red;
}

.select-all-link {
    color: blue;
}

.btn-secondary {
    background: #6C85DC;
    border: none;
}

.btn-secondary:hover {
    background: #699ABA;
}

.logical-select {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logical-select label {
    width: 270px;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.field-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid red;
}

.user-tokens {
    margin-top: 120px;
    font-family: 'Rubik';
}

.user-tokens .table-header {
    background: #00395F;
    border: 1px solid #003A61;
    border-radius: 10px;
}

.user-tokens .table-header th {
    color: white;
    padding: 10px;
    text-align: left;
}

.table-body {
    border: 0.5px solid #D5D5D5;
    border-radius: 10px;
}

th, td {
    padding: 25px;
}

td {
    background: #F3F3F3;
}

.under-table-block {
    font-family: 'Rubik';
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 500px;
}

.count-tokens {
    flex: 1;
}

.under-table-block a {
    margin-left: 0px;
}