{% extends 'index/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'passwords/css/forgot-password-reset.css' %}">
{% endblock %}

{% block body %}
    {% include '_includes/login_user_header.html' %}
    <form id="reset-password-form" method="post">
        <h2>URLShort</h2>
        <h5>Reset Password</h5>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info" id="reset-button">
            <img src="   https://cdn-icons-png.flaticon.com/512/646/646094.png " width="20" height="20" alt="" title="" class="img-small">
            Send Password Reset Link
        </button>
        <div class="signup-text">
            <p class="signup">Don`t have an account?<a href="{% url 'signup' %}">Sign Up</a></p>
        </div>
    </form>
{% endblock %}