{% extends 'index/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'passwords/css/reset-password.css' %}">
{% endblock %}

{% block body %}
    {% include '_includes/login_user_header.html' %}
    <form id="reset-password-form" method="post">
        <h2>URLShort</h2>
        <h5>Reset Password</h5>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message-text">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" id="reset-password-button">Reset Password</button>
    </form>
{% endblock %}
