<div class="top-column">
            <a href="#" class="share-button"><img src="https://cdn-icons-png.flaticon.com/512/2958/2958791.png " width="30" height="30" alt="" title="" class="img-small"></a>
            <a href="#" class="email-button"><img src="https://cdn-icons-png.flaticon.com/512/542/542689.png " width="30" height="30" alt="" title="" class="img-small"></a>
            <a href="#" class="qrcode-button"><img src="   https://cdn-icons-png.flaticon.com/512/714/714390.png " width="30" height="30" alt="" title="" class="img-small"></a>
            <a href="#" class="star-button"><img src="   https://cdn-icons-png.flaticon.com/512/2658/2658473.png " width="32" height="32" alt="" title="" class="img-small"></a>
            <a href="#" class="copy-button">
                <img src="   https://cdn-icons-png.flaticon.com/512/126/126498.png " width="30" height="30" alt="" title="" class="img-small">
                Copy
            </a>
        </div>
        <div class="bottom-column">
            <a href="#" class="my-urls">My URLS</a>
            <a href="#" class="shorten-another">Shorten another</a>
        </div>