{% extends 'index/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'account/css/update-password.css' %}">
{% endblock %}


{% block body %}
    {% include '_includes/login_user_header.html' %}
    <div class="row">
        <div class="column left">
            {% include '_includes/navbar.html' %}
        </div>
        <div class="column middle">
            <h3>Security</h3>
            <h1 id="update-password-title">Update Password</h1>
            <form method="post" class="update-password">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="message-text">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info" id="update-button">Update</button>
            </form>
            <div class="social-links">
                <h2>Link Social Account</h2>
                <div class="group">
                    <a href="#" class="link-btn" id="facebook">
                        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077041.png" width="20" height="20" alt="" title="" class="img-small">
                    </a>
                </div>
                <div class="group">
                    <a href="#" class="link-btn" id="google">
                        <img src="   https://cdn-icons-png.flaticon.com/512/10110/10110386.png " width="20" height="20" alt="" title="" class="img-small">
                    </a>
                </div>
                <div class="group">
                    <a href="#" class="link-btn" id="twitter">
                        <img src="   https://cdn-icons-png.flaticon.com/512/733/733635.png " width="20" height="20" alt="" title="" class="img-small">
                    </a>
                </div>
                <div class="group">
                    <a href="#" class="link-btn" id="microsoft">
                        <img src="   https://cdn-icons-png.flaticon.com/512/160/160172.png " width="20" height="20" alt="" title="" class="img-small">
                    </a>
                </div>
            </div>
        </div>
        <div class="column right">
            <h3>Additional Security</h3>
            <h1 id="two-factor-title">Two-Factor Authentication</h1>
            <p id="two-factor-text">
                Add an extra layer of security to your account by enabling Two-Factor Authenctication
            </p>
            <!-- BUTTON TRIGGER MODAL -->
            <a type="button" class="btn btn-info" id="enable-button" data-bs-toggle="modal"
               data-bs-target="#my-modal">
                Enable
            </a>
        </div>
    </div>
{% endblock %}
{% block js_additional %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'account/js/modal.js'%}"></script>
{% endblock %}

