{% extends 'index/layout.html' %}

{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'account_settings/css/account_usage.css' %}">
{% endblock %}

{% block body %}
    {% include '_includes/login_user_header.html' %}
    <div class="row">
        <div class="column left">
            {% include '_includes/navbar.html' %}
        </div>
        <div class="column middle">
            <h3 class="title sub-title">Usage Managment</h3>
            <h1 class="title main-title">Plan Information</h1>
            <div class="usage-info">
                <div class="second-row">
                    <div class="column-2 left-2">
                        <p>API Credits</p>
                        <p id="used-percent">0% used</p>
                        <p id="email-sending">An email will be sent to you once your
                        account limit has reached more than 90%</p>
                    </div>
                    <div class="column-2 right-2">
                        <p class="progress-text"> 0 / 600</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}