{% extends 'index/layout.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'account_settings/css/api_key.css' %}">
{% endblock %}

{% block js_additional %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'account_settings/js/redirect-to-token.js' %}" defer></script>
{% endblock %}

{% block body %}
  {% include '_includes/login_user_header.html' %}
  <div class="row">
    <div class="column left">
      {% include '_includes/navbar.html' %}
    </div>
    <div class="column middle">
      <h3 class="title sub-title">Tokens Management</h3>
      <h1 class="title main-title">Your Tokens</h1>
      {% include '_includes/messages.html' %}
      <form method="post" id="create-token-form">
        {% csrf_token %}
        {% for field in form %}
          {% if field.label == 'Create ShortURL' or field.label == 'Update ShortURL' or field.label == 'Archive ShortURL' %}
            <div class="logical-select">
              <div class="logical-choice">{{ field }}</div>
              <label class="widget-label">{{ field.label }}</label>
            </div>
          {% else %}
            {{ field.errors }}
            <label id="token-name">{{ field.label }}<small>*</small></label>
            {{ field }}
            <div class="help-titles">
              <p>Permission<a href="#" class="select-all-link"><small>(Select All)</small></a></p>
              <p>Allow</p>
            </div>
            <hr>
          {% endif %}
        {% endfor %}
        <button type="submit" id="redirectLink" class="btn btn-secondary">Create Token</button>
      </form>
    </div>
    <div class="column right" id="data-table">
      <table class="user-tokens">
        <thead>
          <tr class="table-header">
            <th>Name</th>
            <th>Created</th>
            <th>Last Used</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for token in user_tokens %}
            <tr class="table-body">
              <td>{{ token.token_name }}</td>
              <td>{{ token.created_at|date:_("SHORT_DATETIME_FORMAT") }}</td>
              {% if token.compare_created_and_used_time %}
                <td>None</td>
              {% else %}
                <td>{{ token.last_used|date:_("SHORT_DATETIME_FORMAT") }}</td>
              {% endif %}
              <td><a href="{% url 'edit_token' token.pk %}" class="action-button">
              <img src="   https://cdn-icons-png.flaticon.com/512/2040/2040504.png " width="25" height="25" alt="" title="" class="img-small">
              </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="under-table-block">
        <p class="count-tokens">{{ user_tokens|length }} token</p>
        <a href="#" id="developer-doc-btn" class="btn btn-success">Developer Documentation</a>
      </div>
    </div>
  </div>
{% endblock %}